html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* ocupar toda la pantalla */
}

main {
  flex-grow: 1; /* empuja el footer hacia abajo */
}

footer {
  margin-top: auto;
}